---
apiVersion: v1
kind: Service
metadata:
  name: {{ app_name }}
  namespace: {{ namespace_name }}
spec:
  internalTrafficPolicy: Cluster
  ports:
    - name: {{ service_port_name }}
      port: {{ service_port }}
      protocol: {{ service_protocol }}
      targetPort: {{ service_target_port }}
  selector:
    app: {{ app_name }}
    project: {{ project_name }}
    stage: {{ environment_stage }}
  sessionAffinity: None
  type: {{ service_ip_type }}
